<!-- Main modal -->
<div
  id="progress-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="progress-modal"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5">
        <img
          class="w-16 h-24 rounded-lg"
          [src]="
            '/assets/images/' +
            validatePhoto(this.salesManService.saleManSelected()?.photo)
          "
          alt=""
        />
        <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">
          {{ salesManService.saleManSelected()?.name || "-" }}
        </h3>
        <p class="text-sky-500 dark:text-gray-400 mb-6">
          {{ salesManService.saleManSelected()?.category || "-" }}
        </p>

        <div
          class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
              Tipo de vehiculo
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400"
              ><img
                class="w-12 h-16 rounded-lg"
                [src]="
                  '/assets/icons/' +
                  validateVehicle(
                    this.salesManService.saleManSelected()?.vehicle
                  )
                "
                alt=""
            /></span>
          </div>
          <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
              Dirección
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">{{
              this.salesManService.saleManSelected()?.address
            }}</span>
          </div>
          <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
              Estado
            </h5>
            <span
              class="text-sm"
              [ngClass]="
                this.salesManService.saleManSelected()?.isActive
                  ? 'text-green-400'
                  : 'text-red-400'
              "
            >
              {{
                this.salesManService.saleManSelected()?.isActive
                  ? "Activo"
                  : "Inactivo"
              }}
            </span>
          </div>
        </div>

        <!-- Modal footer -->
        <div
          class="flex justify-end items-center mt-6 space-x-4 rtl:space-x-reverse"
        >
          <button
            data-modal-hide="progress-modal"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal toggle -->
<button
  id="btnOpenInfo"
  data-modal-target="progress-modal"
  data-modal-toggle="progress-modal"
  class="hidden text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  type="button"
>
  "modal"
</button>
